* {
box-sizing: border-box;
}

body {
background-color: #eee;
}

.container {
width: 100%;
max-width: 1240px;
margin: auto;
padding: 0 20px;
}

.row {
margin-left: -12px;
margin-right: -12px;
display: flex;
}

.col {
width: 50%;
padding: 24px;
}

#hire-section {
padding: 160px 0;
background-color: #111;
}

.text-wrap {
width: 100%;
}

.text-wrap h1 {
color: #fff;
font-size: 54px;
font-weight: normal;
}
